.framed {
  border-style: solid;
  -webkit-animation: highlight 1s 1 normal;
}

@-webkit-keyframes highlight {

  0% {
    border-width: 1px;
    border-color: white;
  }

  50% {
    border-width: 5px;
    border-color: yellow;
  }

  100% {
    border-width: 1px;
    border-color: white;
  }
}
